@use "./utils/variables" as *;
@import "./utils/primary-style";
@import "./components/section.scss";
@import "./components/logo";
@import "./components/nav";
@import "./components/contact-header";
@import "./components/main-section";
@import "./components/button";
@import "./components/social-media";
@import "./components/footer";
@import "./components/title-list";
@import "./components/offer";
@import "./components/grid";
@import "./components/our-customers";
@import "./components/form";
@import "./components/form-window";
@import "./components/portfolio-menu";
@import "./components/team-card";
@import "./components/portfolio-card";
