.footer {
  background-color: $color-theme1-dark-grey;
  padding-top: 60px;
  padding-bottom: 60px;

  &__section {
    display: flex;
    align-items: baseline;
  }
  &__data {
    margin-right: 70px;
  }
  &__address {
    color: $color-mainandaddress;
    line-height: 1.7;
    font-style: normal;
    font-size: 14px;
  }
  &__contact {
    color: rgba(255, 255, 255, 60%);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:active {
      color: $color-highlights;
    }
  }
  &__social-media {
    margin-right: 78px;
  }
  &__sm-text {
    color: $color-mainandaddress;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__sm-icons-panel {
    fill: $color-mainandaddress;
    display: flex;
    gap: 10px;
  }

  &__newsletter-title {
    color: $color-mainandaddress;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__newsletter-input {
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: none;
    width: 345px;
    color: rgba(255, 255, 255, 0.6);
    &:placeholder-shown {
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      line-height: 1.25;
    }
  }
  &__newsletter-button {
    padding-left: 42px;
    padding-right: 24px;
    margin-left: 8px;
    display: inline-flex;
    align-items: center;
  }
  &__news-btn-txt {
    color: $color-mainandaddress;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding-right: 28px;
  }

  &__newsletter-pic {
    fill: $color-mainandaddress;
  }
}
