.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  &--nav {
    color: $color-logo;
    line-height: 1.2;
  }
  &--footer {
    color: $color-mainandaddress;
    line-height: 1.4;
    padding-bottom: 20px;
  }
  &--highlight {
    color: $color-highlights;
  }
}
