@media screen and (max-width: 480px) {
  .footer {
    text-align: center;

    &__section {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__address,
    &__social-media {
      padding-bottom: 60px;
    }
    &__newsletter-input {
      margin-bottom: 20px;
      width: 450px;
    }
    &__data,
    &__social-media {
      margin-right: 0px;
    }
  }
  .modal {
    width: 450px;
  }
  .form {
    &__input-field {
      width: 370px;
    }
    &__policy {
      font-size: 12px;
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .contact-header {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    &__tel {
      margin-left: 0px;
    }
  }

  .footer {
    &__section {
      align-items: center;
      text-align: center;
    }
    &__data,
    &__social-media {
      margin: 0px;
    }
  }
}

@media screen and (max-width: 768px) {
  .main-section__text {
    font-size: 26px;
    line-height: 1.6;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
    &--main-page {
      background-size: cover;
    }
    &--addition {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    &__title:nth-child(1) {
      margin-bottom: 30px;
    }
  }
  .section__title {
    font-size: 28px;
    line-height: 1.18;
  }
}
