.our-customers {
  &__box {
    display: flex;
    gap: 30px;
  }
  &__frame {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    flex-basis: calc((100% - 150px) / 6);
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:active,
    &:focus {
      border-color: $color-highlights;
    }
  }
  &__icon {
    fill: $color-icon;
    padding-top: 17.1px;
    padding-bottom: 14.25px;
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:active,
    &:focus {
      fill: $color-highlights;
    }
  }
}
