.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &__title {
    background-color: $color-mainandaddress;
    text-align: center;
    width: 270px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
  }
  &__job {
    font-weight: 400;
    color: $color-theme3-light-grey;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 10px;
    margin-bottom: 16px;
  }
  &__sm-box {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
}
