.title-list {
  &__picture {
    background-color: $color-theme2-cream;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  &__icons {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
  }
  &__title {
    line-height: 1.2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
  }
  &__text {
    color: $color-theme3-light-grey;
    font-size: 14px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .title-list {
    &__title {
      text-align: left;
    }
  }
}
@media screen and (min-width: 1200px) {
  .title-list {
    margin-bottom: 0px;
    &:last-child {
      margin-bottom: 30px;
    }
    &__title {
      text-align: left;
    }
  }
}
