$color-highlights: #2196f3;
$color-titles: #212121;
$color-logo: #000000;
$color-mainandaddress: #ffffff;
$color-theme1-dark-grey: #2f303a;
$color-theme2-cream: #f5f4fa;
$color-theme3-light-grey: #757575;
$color-icon: #afb1b8;
$page-font-family: "Roboto", "Montserrat", "Open Sans", "Arial", sans-serif;
